body{
    background-color: rgb(224, 224, 224);
}
h1{
    text-align: center;
}
img.foto{
    float: right;
    margin-top: 40px;
}
.last{
    text-align: right;
    font-size: large;
    
}

img.tdd{
    height: 180px;
    float: right;
    margin-left: 1000px;
    
   }

   table,td{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    width: 80%;
    font-size: large;
   }

p{
    font-size: larger;
}
